.main {
  width: 100%;
}
.main .headerImg {
  width: 100%;
}
.main .headerImg img {
  display: block;
  width: 100%;
  height: 100%;
}
.main .highLight {
  background-color: #e25808;
}
.main #container {
  margin: 2% auto;
  position: relative;
}
.main #container .searAndAdd {
  width: 100%;
  margin-bottom: 2%;
}
.main #container .searAndAdd > .el-row .el-col:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
}
.main #container .title .el-col .el-tag {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 1% 0;
  color: black;
  font-size: 18px;
}
.main #container .content .el-col .innerContent {
  padding: 0 0 1% 0;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 1%;
}
.main #container .content .el-col .innerContent h2 {
  cursor: pointer;
}
.main #container .content .el-col .innerContent h2:hover {
  color: red;
}
.main #container .content .el-col .innerContent > div {
  display: flex;
  justify-content: space-between;
}
.main #container .content .el-col .innerContent > div span:nth-child(1) {
  font-size: 18px;
  color: #acadab;
}
.main #container .content .el-col .innerContent > div span:nth-child(2) {
  font-size: 18px;
  color: #acadab;
}
@media screen and (min-width: 1200px) {
  #container {
    width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  #container {
    width: 930px;
  }
}
@media screen and (max-width: 930px) {
  #container {
    width: 767px;
  }
}
@media screen and (max-width: 767px) {
  #container {
    width: 90%;
  }
}
